<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponents from "./components/CalComponents.vue";
import HelloExam from "./components/HelloExam.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FromBindingVue from "./components/FromBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <FromBindingVue />
    <br />
    <br />
    <ConditionAndLoops />
    <br />
    <br />
    <AttributeBinding />
    <HandingUserInput />
    <CalComponents />
    <HelloExam />
  </div>
</template>

<style scoped></style>
